@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@view-transition {
  navigation: auto;
}
.carousel-custom-circle-shadow::before {
  box-shadow: -5px 5px 0 white;
}
.glow-btn-clip {
  clip-path: polygon(100% 0, 100% 60%, 96% 100%, 0% 100%, 0 40%, 0% 0%);
}
.glow-btn-outer-clip {
  clip-path: polygon(100% 0, 100% 62%, 95.5% 100%, 0% 100%, 0 40%, 0% 0%);
}
@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
  .animation-delay-75 {
    animation-delay: 100ms;
  }
  .text-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .glow-effect {
    background-image: radial-gradient(#16a3c7, transparent);
  }
  .shimmer-effect {
    background-image: radial-gradient(#16a4c73f, transparent);
  }
}
