@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
:root {
  --bg-primary: 0 0% 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
@view-transition {
  navigation: auto;
}
html {
  view-transition-name: none;
}
.floating-card {
  view-transition-name: floating-card;
}
.floating-card-next-btn {
  background: linear-gradient(
    270deg,
    hsl(var(--bg-primary)) 60%,
    hsl(var(--bg-primary) / 0%)
  );
}
.floating-card-prev-btn {
  background: linear-gradient(
    90deg,
    hsl(var(--bg-primary)) 60%,
    hsl(var(--bg-primary) / 0%)
  );
}

.carousel-custom-circle-shadow::before {
  box-shadow: -5px 5px 0 white;
}
.glow-btn-clip {
  clip-path: polygon(100% 0, 100% 60%, 96% 100%, 0% 100%, 0 40%, 0% 0%);
}
.glow-btn-outer-clip {
  clip-path: polygon(100% 0, 100% 62%, 95.5% 100%, 0% 100%, 0 40%, 0% 0%);
}
.button-svg path {
  fill: lavender;
  position: absolute;
}
.button-svg path:first-child {
  fill: salmon;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
}
.diary-pages {
  perspective: 1500px;
  transform-style: preserve-3d;
  .page {
    transform-style: preserve-3d;
    transform: rotate3d(0, 109064, -10, 0deg);
    transform-origin: left center;
    /* rotate3d(0, 109064, -10, 0deg)  need to decrease degree value*/
  }
}

.wavy-image {
  filter: url(#displacementFilter);
}
@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
  .animation-delay-75 {
    animation-delay: 100ms;
  }
  .text-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .glow-effect {
    background-image: radial-gradient(#16a3c7, transparent);
  }
  .shimmer-effect {
    background-image: radial-gradient(#16a4c73f, transparent);
  }
  .border-red {
    @apply border-2 border-red-500;
  }
  .heading-1 {
    @apply font-semibold text-4xl;
  }
}
